{% extends "layout/base.html" %}

{% load static %}
{% load staticfiles %}

{% block title %}
Index
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}" media="screen" />
{% endblock %}

{% block container %}
<div class="row">

    <div class="container01" style="background-image: url('{% static 'core/imgs/index01.jpg' %}')">

                <div id="index-container01" class="row justify-content-center">
                    <div class="painel col-12 col-md-6  align-self-center">
                        <h1>Lário Diniz</h1>
                        <h4>Desenvolvedor de Aplicações</h4>
                        <p>
                            <a href="https://www.python.org/" target="_blank">Python</a> |
                            <a href="https://www.embarcadero.com/br/products/delphi" target="_blank">Delphi</a> |
                            <a href="https://dotnet.microsoft.com/" target="_blank">.Net</a> |
                            <a href="https://www.javascript.com/" target="_blank">JavaScript</a>
                        </p>
                        <p>
                            <a href="https://www.microsoft.com/pt-br/sql-server/" target="_blank">SQL Server</a> |
                            <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
                        </p>
                    </div>
                </div>

    </div>

</div>

<div class="row container02">
    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
        <img src="{% static 'core/imgs/eu.jpg' %}" alt="Foto de Lário Diniz" class="img-thumbnail">
    </div>
    <div class="col-12 col-sm-8 col-md-9  col-lg-10">
        <p>
            Desenvolvedor de aplicações desktop, web e mobile com experiência nas linguagens Python, Delphi, .Net e Javascript.
            Alem disso, conhecimento  na  linguagem de marcação HTML e CSS.
        </p>
        <p>
            Também tem experiência com os bancos de dados Microsoft SQL Server e PostgreSQL.
        </p>
    </div>
</div>

<div class="row container03">
    <div class="col-12">
        <h2>Experiencia Profisional</h2>
        <p>
            Sua experiência profissional na área de desenvolvimento começou no ano de 2016 na empresa
            <a href="http://www.palo.com.br/" target="_blank" >Palo Técnologia</a>
            onde se estende até o momento.
        </p>
        <p>Ele trabalha no desenvolvimento de várias das suas ferramentas de gestão voltadas
        para a área de segurança privada.</p>
    </div>
</div>


<div class="row container04">
    <div class="col-12">
        <h2> Códigos abertos.</h2>
        <p>
            Tendo vários repositórios no github com códigos em linguagens variadas para exemplos,
             seus principais códigos atualmente são as seguintes aplicações:
        </p>

    </div>
    <div class="col-12 col-sm-4">
        <div class="card">
             <div class="card-body">
            <h5 class="card-title">BootPlayGame</h5>
            <p class="card-text">Um bot de Facebook e Telegram feito em Python e Django
                para se jogar RPG no estilo de livros jogos.</p>

            </div>
                 <a target="_blank" href="https://github.com/lariodiniz/BootPlayGame" class="btn btn-primary">Visitar</a>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Calendario Dekatrian</h5>
            <p class="card-text">Um Calendario feito em Python e Kivy para windows e android.</p>

          </div>
            <a  target="_blank" href="https://github.com/lariodiniz/Dekatrian/releases" class="btn btn-primary">Baixar</a>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="card">

          <div class="card-body">
            <h5 class="card-title">Controle de Combate</h5>
            <p class="card-text">Uma Aplicação feita em python e Tkinter para ajudar jogadores de RPG no combate.</p>

          </div>
            <a  target="_blank" href="https://github.com/lariodiniz/CDC" class="btn btn-primary">Visitar</a>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'core/js/IndexController.js' %}"></script>
    <script type="text/javascript">
        let controller = new IndexController();
    </script>

{% endblock %}
