{% extends "layout/base.html" %}

{% load static %}
{% load staticfiles %}

{% block title %}
Index
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/core/style.css' %}" media="screen" />
{% endblock %}

{% block container %}
<div class="row">

    <div class="container01" style="background-image: url('{% static 'imgs/core/index01.jpg' %}')">
         <div class="col-xs-10 col-centered">
                <div id="index-container01">

                    <h1>Lário Diniz</h1>
                    <p>Portifólio em contrução.</p>
                </div>
            </div>
    </div>

</div>

<div class="row container02">
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
<p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
<p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
    <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
<p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
        <p>asdsadsadasdasdasdasdasdsd asdasdasdasda asdasds asdasdasd</p>
</div>

{% endblock %}