{% load static %}
{% load staticfiles %}
<header id="menu" class="header">
    <nav class="navbar navbar-expand-lg  rounded">
        <a class="header-a-logo" href="/">
            <img id="header-icone" src="{% static 'layout/imgs/icone.png' %}" alt="Logo da Aplicação">
        </a>
        <button class="navbar-toggler"
                type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse iner-header" id="navbarCollapse">

                <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a href="#">
                  <span>Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#">
                  <span>Curriculo</span>
              </a>
            </li>

            <li class="nav-item">
            <a class="dropdown-toggle"
               href="/" id="dropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Códigos</a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
              <a target="_blank" class="dropdown-item" href="https://github.com/lariodiniz/BootPlayGame">BootPlayGame</a>
              <a target="_blank" class="dropdown-item" href="https://github.com/lariodiniz/Dekatrian">Calendário Dekatrian</a>
              <a target="_blank" class="dropdown-item" href="https://github.com/lariodiniz/CDC">Controle de Combate</a>
            </div>
            </li>
            <li class="nav-item">
              <a href="#">
                  <span>Contato</span>
              </a>
            </li>
          </ul>


                {% include "layout/languages.html" %}
            </div>
        </div>

      </nav>
</header>



