.container01{
    position: absolute;
    height: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.container02{
    margin-top:400px;
}


#index-container01 {
    margin-top:5em;
    color: #FFF;
    height: 300px;


}

#index-container01 a {
    color: #FFF;

    text-decoration: none;
}

#index-container01 a:hover {
    animation-name: mausehover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#index-container01 .painel {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #000;
    opacity: 0.7;
    padding: 1em;

}

.container02{
  border-left: 3px solid #0055ff;
  background-color: #4d88ff;
  padding: 2em;
  color:#FFF;
  text-align: left;
}


.container03{
  padding: 2em;
  height: 350px;

}

.container04{
  padding: 2em;
  background-color: #d1d1e0;
}

.card {
    height: 200px;
}