.container01{
    position: absolute;
    height: 350px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.container02{
    margin-top:350px;
}


#index-container01{
    margin-top:10em;
    color: #FFF;
    height: 350px;

}